.header {
  padding: 0 20px; 
  margin-top: 20px; 
  max-width: 100%;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 500px; /* Ridotto l'altezza per rendere il carosello più piccolo */
  border-radius: 10px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}


.carousel-content {
  position: absolute;
  bottom: 30px; /* Ridotto per adattarsi meglio */
  left: 20px;
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.carousel-description {
  font-size: 1rem; /* Ridotto il font per la descrizione */
  margin-bottom: 5px;
}

.carousel-title {
  font-size: 1.8rem; /* Ridotto il font per il titolo */
  font-weight: bold;
  margin: 0;
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem; /* Ridotto il font del bottone */
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-container {
      height: 350px; /* Ancora più piccolo per schermi più piccoli */
  }

  .carousel-title {
      font-size: 1.6rem; /* Font titolo più piccolo */
  }

  .carousel-description {
      font-size: 0.9rem; /* Font descrizione più piccolo */
  }

  .carousel-button {
      font-size: 1.3rem; /* Font del bottone più piccolo */
      padding: 6px; /* Ridotto il padding */
  }
}

@media (max-width: 480px) {
  .carousel-container {
      height: 250px; /* Ancora più piccolo per dispositivi molto piccoli */
  }

  .carousel-title {
      font-size: 1.2rem; /* Font titolo molto più piccolo */
  }

  .carousel-description {
      font-size: 0.8rem; /* Font descrizione più piccolo */
  }

  .carousel-button {
      font-size: 1.2rem; /* Font del bottone più piccolo */
      padding: 5px; /* Ridotto il padding */
  }
}
