.login-container {
  background: #fff;
  padding: 20px;
  width: 300px; /* Riduci la larghezza */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute; /* Per centrarlo */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Perfettamente centrato */
}

.login-title {
  text-align: center;
  font-size: 20px; /* Ridotta un po' */
  font-weight: bold;
  margin-bottom: 15px; /* Ridotta */
}

.login-form .form-group {
  margin-bottom: 10px; /* Ridotta */
}

.login-form input {
  width: 100%;
  padding: 8px; /* Ridotta */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.forgot-password-link {
  font-size: 12px;
  color: #ff4500;
  text-decoration: none;
  float: right;
}

.login-button {
  width: 100%;
  background: #ff4500;
  color: #fff;
  border: none;
  padding: 8px; /* Ridotta */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-button {
  background: #ff4500;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.logout-button:hover {
  background-color: #c9302c; /* Colore leggermente più scuro al passaggio del mouse */
}

.logout-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
}

.logout-button:disabled {
  background-color: #e6e6e6;
  color: #aaa;
  cursor: not-allowed;
}

.or-login-with {
  text-align: center;
  margin: 10px 0; /* Ridotta */
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.google-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  color: #555;
  border: 1px solid #ddd;
  width: 100%; /* Centra il bottone */
}

.signup-prompt {
  text-align: center;
  margin-top: 10px; /* Ridotta */
  font-size: 12px; /* Ridotta */
}

.signup-link {
  color: #ff4500;
  cursor: pointer;
}
